<nz-page-header class="site-page-header" nzBackIcon nzTitle="Dashboard" nzSubtitle="This is a dashboard subtitle">
</nz-page-header>
<div style="background: #ECECEC;padding:30px;">
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Dashboard title">
                <p>Card content</p>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Dashboard title">
                <p>Card content</p>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Dashboard title">
                <p>Card content</p>
            </nz-card>
        </div>
    </div>
</div>

<div style="background: #ECECEC;padding:30px;">
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Dashboard title">
                <p>Card content</p>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Dashboard title">
                <p>Card content</p>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Dashboard title">
                <p>Card content</p>
            </nz-card>
        </div>
    </div>
</div>